.blank-line {
  height: 20px;
}

.spin-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.proceed-button {
    position: relative;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0%); 
}